# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Django
db.sqlite3
*.sqlite3
media/

# Static files (agar collectstatic ishlatilsa)
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# PyCharm
*.iml

# VS Code settings
.history/

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swpgit rm
users.db
